main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    color: #f5f5f5;
}

h2 {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    top: 5px;
}

h3 {
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    top: -5px;
}

.scoreAndChancesContainer {
    width: 391px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 80px;
    background-color: #EDF6F9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.chancesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 80px;
    background-color: #EDF6F9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.mainContainer {
    margin-top: 10px;
    border-radius: 10px;
    width: 391px;
    height: 354px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #edf6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 198px;
    height: 113px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
    overflow: hidden;
}

img {
    width: 200px;
}

input {
    margin-top: 4rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    width: 243px;
    height: 24px;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button {
    border-radius: 10px;
    width: 88px;
    height: 32px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background: #006d77;
    border: none;
}